<div class="container">
    <br>
  <h1>Education</h1>
    <div class="rightbox">
      <div class="rb-container">
        <ul class="rb">
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              2015-2019
            </div>
            <div class="item-title">
                <h2>B-Tech Computer Science & Engineering</h2><br>
                <p>College of Engineering Vadakara</p>
            </div>
  
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              2013-2015
            </div>
            <div class="item-title">
                <h2>Higher Secondary</h2><br>
                <p>JNMGHSS</p>
            </div>
  
          </li>
  
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              2013
            </div>
            <div class="item-title">
                <h2>High School</h2><br>
                <p>Amritha Vidyalayam</p>
            </div>
  
          </li>
  
        </ul>
  
      </div>
    </div>
  </div>