.bgcl {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.down1 {
  padding-top: 20px;
}

.example-card {
  max-width: 1300px;
}

.centre {
  padding-top: 50px;
  margin: auto;
  width: 80%;
}

a{
  color: black;
  text-decoration-line:none;
}
