<div class="col-md-12 row">
  <div class="col-md-6">
    <div style="margin-left: 5%" class="top">
      <h1>AKSHAY M HARI</h1>
      <p>
        To pursue a challenging career and be a part of progressive organisation
        that gives a scope to enhance my knowledge and utilising my skills
        towards the growth of the organisation.
      </p>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="top">
      <img src="../assets/pic.jpg" alt="Akshay" />
    </div>
  </div>
</div>

<br>

<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
